<div class="container">

        <!--navBar-->
        <div class="nav-container">
            <nav class="navbar">
              <div class="navbar-logo">
                <!--abajo el logo-->
              </div>
              <a href="/chat">Chat</a>
              <h1 class="getCart" id="getCart">🧺<span id="cantCart" class="cant-cart"></span></h1>
            </nav>
          </div>
      
          <!--banner-->
          <div class="banner">
            <div class="banner-container">
                
              <h1>Entreamasados</h1>
              <p>Panaderia online, del horno a tu puerta</p>
            </div>
          </div>
        <!--content-->
        <div id="content" class="content-style">

          <ul>
              {{#each products}}
                  <li>{{this.title}} - {{this.description}} - {{this.price}}</li>
              {{/each}}
          </ul>
          <br>
            <a href="/?pag=1">Pag.1</a>
            {{#if hasPrevPage}}
              <a href="/?pag={{prevPage}}">Previos</a>
            {{/if}}

            {{#if hasNextPage}}
              <a href="/?pag={{nextPage}}">Next</a>
            {{/if}}
            <a href="/?pag={{totalPages}}">Ult.Pag</a>
          
        </div>


        <!--cart-container-canasta-->
        <div id="cart-container" class="cart-container"></div>
        <!--cart-container-pay-->
        <div id="container-pay" class="cart-container"></div>

    </div>

    <div id="sweetAlert"></div>

 <script type="module" src="js/home.js"></script> 
